Django==3.1
django-germanium==2.2.4
coverage==5.3.1
https://github.com/druids/django-pyston/tarball/AddedDjango3Support#egg=django-pyston
https://github.com/matllubos/django-is-core/tarball/pynamodb#egg=django-is-core
djangorestframework==3.12.2
freezegun==1.0.0
-e ../
